.viewer-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.viewer {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.obc-viewer {
    width: 100vw !important;
    position: absolute;
}

.drag-and-drop,
.loading-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar {
    position: absolute;
    top: 5%;
    left: 5%;
    width: fit-content;
    height: 200px;
    z-index: 1000;
}

.loading {
    position: relative;
    color: rgba(255, 255, 255, 0.8);
    width: 400px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0.5rem;
    border: 2px solid transparent; /* Đường viền trong suốt ban đầu */
    z-index: 1;
    animation: loading 1s linear infinite;
}

.loading-title {
    padding: 12px 24px;
    border-bottom: 1px solid white;
}

.loading-description {
    font-size: 1.3rem;
    padding: 12px 24px;
}

@keyframes loading {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7); /* Màu và kích thước của dải màu ban đầu */
    }
    50% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3); /* Màu và kích thước của dải màu ở giữa */
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7); /* Màu và kích thước của dải màu khi hoàn thành */
    }
    50% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3); /* Màu và kích thước của dải màu ở giữa */
    }
}

.tool-sidebar {
    padding: 10px 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    flex-direction: column;
}

.element-show-container {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}

.ui-control {
    position: absolute;
    right: 2%;
    top: 5%;
    color: #ebebeb;
    background-color: #1f1f1f;
    z-index: 1000;
    width: 300px;
    border-radius: 10px;
}

.ui-control .header {
    background: #111111;
    padding: 2px 8px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
}

.ui-control .body {
    padding: 10px;
}

.ui-control .setting-element {
    font-size: 13px;
}

.ui-control .input {
    display: flex;
}

.ui-control .input-range {
    width: 15%;
    height: 23px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
}